<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trm.placeyourguess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".PYGApp">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".MultiplayerRoomActivity$OnAppKilledAfterJoinedRoomService"
            android:stopWithTask="false" />

        <service android:name=".PYGApp$SocketService"
            android:stopWithTask="false" />

        <activity
            android:name=".MainActivity"
            android:label="PlaceYourGuess"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StreetViewActivity" />
        <activity android:name=".MapActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".LocationListActivity"
            android:label="Choose location"
            android:theme="@style/AppThemeActionBar" />
        <activity android:name=".ScoreSPActivity" />
        <activity android:name=".ScoreMPActivity" />
        <activity android:name=".CustomLocationActivity" />
        <activity
            android:name=".MultiplayerRoomsActivity"
            android:label="Multiplayer - rooms"
            android:theme="@style/AppThemeActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MultiplayerNewRoomActivity"
            android:label="Multiplayer - new room"
            android:theme="@style/AppThemeActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MultiplayerRoomActivity" />
        <activity android:name=".TutorialActivity"/>
    </application>

</manifest>